.cards {
  padding-top: 10px;
  text-align: center;
  display: none;
}
.cards__pics {
  list-style-type: none;
  padding: 0px 0 40px;
  display: grid;

  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
}

.cards__header {
  display: flex;
  color: black;
  font-size: 64px;

  margin: 0 auto;
  padding: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cards__back-btn,
.cards__selecthotel-btn,
.cards__nexthotel-btn,
.cards__exit-btn,
.cards__info-btn {
  background-color: #eae7e5;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0 32px;
}
.cards__selecthotel-btn {
  background-image: url("../images/guide_sleigh-btn.svg");
  height: 174px;
  width: 136px;
}
.cards__back-btn {
  background-image: url("../images/BackButton.svg");
  height: 117px;
  width: 84px;
}

.cards__nexthotel-btn {
  background-image: url("../images/SelectHotel-btn.svg");
  height: 150px;
  width: 136px;
}

.cards__exit-btn {
  background-image: url("../images/Exit-btn.svg");
  height: 117px;
  width: 84px;
}

.cards__info-btn {
  background-image: url("../images/InfoButton.svg");
  height: 150px;
  width: 120px;
}

@media screen and (max-width: 413px) {
  .cards__pics {
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 20px 20px;
    padding-bottom: 20px;
  }
}
