.cards {
  padding-top: 10px;
  visibility: hidden;
}
.cards__pics {
  list-style-type: none;
  padding: 0px 0 40px;
  display: grid;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-template-rows: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
}

.cards__header {
  display: flex;
  color: black;
  font-size: 32px;
  margin-top: 41px;
  margin-bottom: 68px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cards__back-btn {
  background-image: url("../images/");
}
.cards__nexthotel-btn {
  background-image: url("../images/");
}
.cards__exit-btn {
  background-image: url("../images/");
}

@media screen and (max-width: 413px) {
  .cards__pics {
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 20px 20px;
    padding-bottom: 20px;
  }
}
