.cards {
  margin: 10px 0 0;
  padding: 7px;
  list-style: none;
  display: grid;
  grid: auto-flow 195px / repeat(3, 195px);
  gap: 14px;
}

.cards__type_bar {
  overflow-x: scroll;
  grid: repeat(2, 195px) / auto-flow 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards__type_bar::-webkit-scrollbar {
  display: none;
}
