.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 101px;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  width: 100%;
  box-sizing: border-box;
  visibility: visible;
  transition: opacity 0.5s ease, height 0.5s ease;
  opacity: 1;
  height: auto;
}
.profile.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.profile__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin-bottom: 20px;
  color: #ffff;
}

.profile__go-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffff;
  font-size: 20px;
  margin-top: 443px;

  background-color: #ff4d2e;
  background-repeat: no-repeat;
  background-position: center;
  width: 520px;
  height: 80px;
  transition: opacity 0.3s ease;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    margin: 0 auto;

    flex-direction: column;
    width: 288px;
  }
  .profile__go-btn {
    align-self: center;
    width: 260px;

    padding: 0;

    gap: 8px;
  }
  .profile__column {
    align-items: center;

    margin: 0 auto;
    padding: 0px;
    width: 100%;
  }
}
